
*{
  box-sizing:border-box;
}

body{
  /*background-color: blue;*/
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  margin-top: 4%;
}

img{
  max-width: 100%;
}

.date-time-col{
  display: inline-block;
}

.graphic-col






/*
.each-post:hover .time{
  color: #4797C4;
}

.each-post:hover .posting-title::before{
  border-right-color:#4797C4;
}

.each-post:hover .posting-title{
  background-color: #4797C4;
}

.each-post:hover .posting-body{
  background-color: #4797C4;
}

.posting-outline:hover .posting-outline{
  background-color: #4797C4;
}

.each-post:hover .posting-col{
  /*background-color: #4797C4;*/
}*/


/*=================*/
